<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        유저가 입력한 데이터를 보내기 위한 tag
        form : 속성이 2개 : method, action
            method -> 데이터를 보내는 방법 (get, post)
            action -> 데이터를 어디로 보낼지 주소를 적어주는 부분
        input태그는 유저가 데이터를 입력할 수 있는 공간
        웹에서 데이터를 보내는 형식은 dict형태로 데이터를 주고 받는 기능
        {key : value} -> input에서는 name이라는 속성의 값이 key
                         유저가 입력하는 값이 value
     -->
     <form action="/signup2" method="post">
         <label>ID</label>
         <input type="text" name="_id"><br>
         <label>Password</label>
         <input type="password" name="_pass"><br>
         <label>Name</label>
         <input type="text" name="_name"><br>
         <label>Birth</label>
         <input type="text" name="_birth"><br>
         <label>Phone</label>
         <input type="text" name="_phone"><br>
         <input type="submit" value="Signup">
     </form>
</body>
</html>