<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>login page</h3>
    <!-- 
        form태그는 유저가 입력한 데이터를 서버에 보내주기 위한 태그
        form태그는 속성 2개 > action / method
        action > 어느 주소로 보내줄지
        method > 데이터를 보내는 통신 방식 (get / post)
    -->
    <form action="/second" method="get">
        <input type="text" name="ID"><br>
        <input type="password" name="password"><br>
        <input type="submit">
    </form>
</body>
</html>